# Auto detect text files and perform LF normalization
* text=auto

# Custom for WordPress
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Exclude from export (files not needed in production)
/.gitattributes export-ignore
/.gitignore export-ignore
/code-review*.md export-ignore
/.DS_Store export-ignore
